#pictureInBackground {
    padding:0px;
    margin:0px;
}
    #pictureInBackground img {
        width:100%;
        max-height:300px;
    }

#container {

}
#picture {
    margin:0px;
    padding:0px;
}
#information {
    background-color:gray;
    margin:0px;
    padding:0px;
}

#usersInformations {
    float:none;
}

.singleUserinformation {
    padding:10px;
    margin:10px;
    background-color:aliceblue;
    border:1px solid black;
    height:auto;
    text-align:center;
    width:250px;
    float:left;
}

.singleUserinformation img {

    width:100px;
    height:100px;
    border:1px solid black;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#userProfileNav a {
    font-size:larger;
}

#galleryId {
    display:inline-block;
    position:relative;
}

#galleryId img {
    width:200px;
    height:200px;
    margin:20px;
}

#galleryId img:hover {
    width:200px;
    height:200px;
    margin:20px;

    opacity:0.7;
}

#profilePicture {
    max-width:300px;
    max-height:300px;

}

#profilePicture img {
    width:100%;

}

.image-upload > input
{
    display: none;
}

.image-upload :hover {
    border: 2px solid black;
    cursor: pointer;
}

