#pictureInBackground {
    padding:0px;
    margin:0px;
}
    #pictureInBackground img {
        width:100%;
        max-height:300px;
    }

#container {

}
#picture {
    margin:0px;
    padding:0px;
}
#information {
    background-color:gray;
    margin:0px;
    padding:0px;
}

#singleUserinformatio {
    padding:5px;
    margin:5px;
    background-color:lightyellow;
    border:1px solid black;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#galleryId {
    display:inline-block;
    position:relative;
}

#galleryId img {
    width:200px;
    height:200px;
    margin:20px;
}

#galleryId img:hover {
    width:200px;
    height:200px;
    margin:20px;

    opacity:0.7;
}