@using System.Web;

<link rel="stylesheet" href="~/css/user.css" />

@model List<Domain.Entities.User.ApplicationUser>

<div id="usersInformations">
    @foreach (Domain.Entities.User.ApplicationUser user in Model)
    {
        { await Html.RenderPartialAsync("DisplaySingleUserPartial", user); }
    }
</div>

