@using System.Security.Claims;
@model List<Domain.Entities.User.UserPicture>


<link rel="stylesheet" href="~/css/user.css" />
<script src="~/js/User/userProfilePictures.js"></script>

<!--  Miejsce na zdjęcie w tle -->
<div class="row">
    <div class="col-md-12" id="pictureInBackground">
        <img src="~/images/niebo_1.jpg" alt="Chania">
    </div>
</div>

<div id="userProfileNav">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/User/DisplayUserProfile">Informacje</a></li>
        <li role="presentation"><a href="#">Znajomi</a></li>
        <li role="presentation"><a href="#">Zdjęcia</a></li>
    </ul>
</div>

<div id="container" class="row">
    
    <div id="picture" class="col-md-4">
        <img class="img-rounded" src="~/images/czlowiek_1.jpg" style="width:100%" />
    </div>
    
    <script>
        displayPictureInGalery(@ViewBag.Image);
    </script>
    

    <div id="userPictures" class="col-md-8">

        <div class="fileUpload btn btn-primary">
            <span>Dodaj zdjęcie</span>
            <input type="file" class="upload" id="fileinput" accept="image/*" />
        </div>

        <div id="galleryId">
            @{
                foreach (var picture in Model)
                {
                    <img src="@picture.PhotoString" />
                }
            }
        </div>
    </div>
</div>

