@using System.Security.Claims;
@model Domain.Entities.User.ApplicationUser

<link rel="stylesheet" href="~/css/user.css" />
<script src="~/js/User/userProfilePictures.js"></script>
<!--  Miejsce na zdjęcie w tle -->
<div class="row">
    <div class="col-md-12" id="pictureInBackground">
        <img src="~/images/niebo_1.jpg" alt="Chania">
    </div>
</div>

<div id="userProfileNav">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/User/DisplayUserProfile">Informacje</a></li>
        <li role="presentation"><a href="/User/DisplayUserFriends">Znajomi</a></li>
        <li role="presentation"><a href="/User/DisplayUserPictures?userId=@User.GetUserId()">Zdjęcia</a></li>
    </ul>
</div>

<div id="container" class="row">
    <div id="profilePicture" class="col-md-4">
        @if (Model.HasProfilePicture())
        {
            <a href="/User/DisplaySinglePicture?pictureId=@Model.ProfilPicture.Picture.Id">
                <img class="img-rounded" src="@Model.ProfilPicture.Picture.PhotoString" />
            </a>
        }
        else
        {
            <div class="image-upload">
                <label for="profileFileinput">
                    <img class="img-rounded" src="~/images/anonim_men.jpg" />
                </label>

                <input type="file" class="upload" id="profileFileinput" accept="image/*" />
            </div>

        }

    </div>
    <div id="userFriends">

        @if (Model.Friends.Count == 0)
        {
            <h3>Nie masz znajomych, zaproś kogoś!</h3>
        }
        else
        {
            <h3>Masz @Model.Friends.Count znajomych!</h3>
        }

        @foreach (var friendsInvitation in Model.GetFriendsInvitations())
        {
            @Html.ActionLink(friendsInvitation.GetUserWhoSendInvitation().FirstName, "DisplaySinglePicture", "User", null, 
                new { userId = friendsInvitation.GetUserWhoSendInvitation().Id });
            <span>zaprosił Cię do znajomych!</span> 
        }

        @foreach (var friend in Model.Friends)
        {
                @friend.FirstName
        }
    </div>
</div>
